Codigo/flowsP4_nikita(1).json
[
    {
        "id": "1e492e5b3a8d64d6",
        "type": "mqtt in",
        "z": "766936ad4de7ce70",
        "name": "",
        "topic": "casa/sensores/temperatura11",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43c6d6fc24ad7b6d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 620,
        "wires": [
            [
                "13f135462fc247c3",
                "8a190ad8983497ee",
                "2ed398ef84db46fb"
            ]
        ]
    },
    {
        "id": "13f135462fc247c3",
        "type": "ui_gauge",
        "z": "766936ad4de7ce70",
        "name": "",
        "group": "173c0e296354bc30",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 350,
        "y": 560,
        "wires": []
    },
    {
        "id": "8a190ad8983497ee",
        "type": "ui_chart",
        "z": "766936ad4de7ce70",
        "name": "",
        "group": "173c0e296354bc30",
        "order": 9,
        "width": 0,
        "height": 0,
        "label": "Gráfico Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "35",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 400,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "2ed398ef84db46fb",
        "type": "debug",
        "z": "766936ad4de7ce70",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 680,
        "wires": []
    },
    {
        "id": "f8074fd3b6295bf4",
        "type": "mqtt in",
        "z": "766936ad4de7ce70",
        "name": "",
        "topic": "casa/sensores/humidade11",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43c6d6fc24ad7b6d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 780,
        "wires": [
            [
                "8cb8d5eefc95f9fe",
                "917dc2d1cc64a1db"
            ]
        ]
    },
    {
        "id": "8cb8d5eefc95f9fe",
        "type": "ui_gauge",
        "z": "766936ad4de7ce70",
        "name": "",
        "group": "173c0e296354bc30",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Humidade",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 370,
        "y": 740,
        "wires": []
    },
    {
        "id": "917dc2d1cc64a1db",
        "type": "debug",
        "z": "766936ad4de7ce70",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 800,
        "wires": []
    },
    {
        "id": "4c8190d1f8502d2e",
        "type": "mqtt in",
        "z": "766936ad4de7ce70",
        "name": "",
        "topic": "depuracion11",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43c6d6fc24ad7b6d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 550,
        "y": 680,
        "wires": [
            [
                "72c260de9d8c5b90"
            ]
        ]
    },
    {
        "id": "72c260de9d8c5b90",
        "type": "debug",
        "z": "766936ad4de7ce70",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 680,
        "wires": []
    },
    {
        "id": "b06613b10ca55897",
        "type": "mqtt in",
        "z": "766936ad4de7ce70",
        "name": "",
        "topic": "casa/sensores/temperatura11",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43c6d6fc24ad7b6d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 900,
        "wires": [
            [
                "a1dbc2f8cd9d405d"
            ]
        ]
    },
    {
        "id": "a1dbc2f8cd9d405d",
        "type": "switch",
        "z": "766936ad4de7ce70",
        "name": "PasoTempTrue_False",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "21",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "21",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 380,
        "y": 900,
        "wires": [
            [
                "e27396180e3c845d"
            ],
            [
                "45f65f51278316a1"
            ]
        ]
    },
    {
        "id": "e27396180e3c845d",
        "type": "change",
        "z": "766936ad4de7ce70",
        "name": "Cambio a True",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 840,
        "wires": [
            [
                "b86c039eeff88d8e"
            ]
        ]
    },
    {
        "id": "45f65f51278316a1",
        "type": "change",
        "z": "766936ad4de7ce70",
        "name": "Cambio a False",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 940,
        "wires": [
            [
                "b86c039eeff88d8e"
            ]
        ]
    },
    {
        "id": "b86c039eeff88d8e",
        "type": "rbe",
        "z": "766936ad4de7ce70",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 730,
        "y": 900,
        "wires": [
            [
                "0a00e623f67d35cd",
                "560b63367c24e9af"
            ]
        ]
    },
    {
        "id": "0a00e623f67d35cd",
        "type": "debug",
        "z": "766936ad4de7ce70",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 940,
        "wires": []
    },
    {
        "id": "86932c609de5777a",
        "type": "ui_switch",
        "z": "766936ad4de7ce70",
        "name": "",
        "label": "rele11",
        "tooltip": "",
        "group": "46a07a740cadf472",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 1000,
        "wires": [
            [
                "835243f022dff4eb"
            ]
        ]
    },
    {
        "id": "560b63367c24e9af",
        "type": "mqtt out",
        "z": "766936ad4de7ce70",
        "name": "",
        "topic": "casa/actuadores/rele11",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43c6d6fc24ad7b6d",
        "x": 910,
        "y": 860,
        "wires": []
    },
    {
        "id": "835243f022dff4eb",
        "type": "mqtt out",
        "z": "766936ad4de7ce70",
        "name": "",
        "topic": "casa/actuadores/rele11",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43c6d6fc24ad7b6d",
        "x": 390,
        "y": 1000,
        "wires": []
    },
    {
        "id": "43c6d6fc24ad7b6d",
        "type": "mqtt-broker",
        "name": "mi_mosquitto_broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "173c0e296354bc30",
        "type": "ui_group",
        "name": "TemperaturaHumidade",
        "tab": "26d2e1f0563b6812",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "46a07a740cadf472",
        "type": "ui_group",
        "name": "RGB",
        "tab": "903fa3e2969e67a7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "26d2e1f0563b6812",
        "type": "ui_tab",
        "name": "Practica4",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "903fa3e2969e67a7",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]